RewriteEngine On
RewriteCond ${REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]


Header always set Acces-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "Content-Type, Authorization, Origin, X-Requested-With"
Header always set Access-Control-Allow-Headers "POST, GET, OPTIONS"